{% extends 'base.html.twig' %}

{% block title %}Catégories
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12 col-lg-6 label-form">
            <h1>Toutes les catégories :</h1>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn btn-primary">Rechercher</button>
            <a href="{{ path('app_index') }}" class="btn btn-info">Retour à l'accueil</a>
            {{ form_end(form) }}
        </div>
    </div>
    <div class="row">
        {% if programs is empty %}
            <h3>pas de séries disponibles
            </h3>
        {% endif %}

        {% for program in programs %}
            <div class="card m-4" style="width: 18rem;">
                <img src="{{ program.poster }}" class="card-img-top" alt="{{ program.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ program.title }}</h5>
                        {# <p class="card-text">{{ program.summary }}</p> #}
                        <a href="{{ path('wild_show', { 'slug': program.title|replace({' ':'-'})|lower }) }}" class="btn btn-primary">En savoir plus</a>
                    </div>
                </div>
            {% endfor %}
        </div>

    {% endblock %}
