{% extends 'base.html.twig' %}

{% block title %}Categories
{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-4">
                <h1>Ajouter une catégorie</h1>

                {{ form_start(form) }}

                {{ form_row(form.name) }}

                <button class="btn btn-success">{{ button_label|default('Save') }}</button>

                {{ form_end(form) }}

                <h2>Les catégories:
                </h2>
                {% for category in categories %}
                    <p>
                        {{ category.name | capitalize }}
                    </p>
                {% else %}
                    Aucune catégorie trouvée.
                {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}
