{% extends 'base.html.twig' %}

{% block title %}Créer une catégorie
{% endblock %}
{% set page = 'app_category' %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-6 label-form">
                <h1>Ajouter une catégorie</h1>

                {{ form_start(form) }}

                {{ form_row(form.name) }}

                <button class="btn btn-success">{{ button_label|default('Sauvegarder') }}</button>

                {{ form_end(form) }}

                <h2 class="mt-4">Liste des catégories:</h2>
                {% for category in categories %}
                    <p>
                        {{ category.name | capitalize }}
                    </p>
                {% else %}
                    Aucune catégorie trouvée.
                {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}
