{% extends 'base.html.twig' %}

{% block title %}Program index{% endblock %}

{% block body %}
    <h1>Program index</h1>
<div class="row mb-5">
    <div class="col-12 col-lg-4 label-form">
        {{ form_start(form) }}
        {{ form_row(form.title) }}
        <button type="submit" class="btn btn-primary">Rechercher</button>
        <a href="{{ path('program_index') }}" class="btn btn-primary">Toutes les séries</a>
        {{ form_end(form) }}
    </div>
</div>
<h3>Résultats</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Summary</th>
                <th>Poster</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for program in programs %}
            <tr>
                <td>{{ program.title }}</td>
                <td>{{ program.summary }}</td>
                <td><img src="{{ program.poster }}" alt=""></td>
                <td>
                    <a href="{{ path('program_show', {'id': program.id}) }}">show</a>
                    <a href="{{ path('program_edit', {'id': program.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('program_new') }}">Create new</a>
{% endblock %}
