{% extends 'base.html.twig' %}

{% block title %}
    {{ episode.title }}
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-6">
            <img class="img-fluid" src="{{ program.poster }}" alt="{{ program.title }} poster">
                <a href="{{ path('wild_programs') }}" class="btn btn-info">
                    Retour à l'accueil
                </a>
            </div>
            <div class="col-6">
                <a href="{{ path('wild_show', {'slug': program.slug }) }}">
                    <h1 class="mt-0">{{ program.title|capitalize }}</h1>
                </a>

                <span class="c-badge" style="background: {{ program.category.color }}">
                    {{ program.category.name }}</span>

                <a href="{{ path('wild_season', {'id': season.id}) }}">
                    <h2>Saison
                        {{ season.number }}</h2>
                </a>
                <h3>Episode
                    {{ episode.number }}
                    :
                    {{ episode.title|capitalize }}</h3>
                <p>{{ episode.beginAt|format_datetime('full', 'short', locale='fr') | capitalize }}</p>
                <p>{{ episode.synopsis }}</p>

            </div>
        </div>
        <div class="row">
            <div class="col-6">
                {% if app.user %}
                    <h2>Laissez un commentaire</h2>
                    {{ include ('comment/_form.html.twig') }}
                
                    <h2 class="mt-5">Commentaires</h2>
                    
                    {% for comment in comments %}
                        <div class="card" style="width: 28rem;">
                            <div class="card-body">
                                <h5 class="card-title">Commentaire de
                                    {{ comment.author.email }}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">publié le
                                    {{ comment.date ? comment.date|date('d/m/Y') : '' }}</h6>
                                <p class="card-text">{{ comment.comment }}</p>
                                <a href="#" class="card-link">note :
                                    {{ comment.rate }}/5</a>
                            </div>
                        </div>
                    {% endfor %}
                    {% else %}
                    <a href="{{ path('app_login') }}">Pour écrire un commentaire, connectez-vous</a>
                {% endif %}
            </div>
        </div>
    {% endblock %}
