{% extends 'base.html.twig' %}

{% block title %}{{ episode.title }}{% endblock %}

{% block body %}

    <div class="media">
        <img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.name }} poster">
        <div class="media-body">
            <a href="{{ path('wild_show', {'slug': program.slug }) }}"><h1 class="mt-0">{{ program.name|capitalize }}</h1></a>
            <p>
                <strong>Catégorie</strong>
                    <span class="badge badge-secondary" style="background: {{ program.category.color }}">
                        {{ program.category.name }}</span>
            </p>
            <a href="{{ path('wild_season', {'id': season.id}) }}">
                <h2>Saison {{ season.number }}</h2>
            </a>
                <h3>Episode {{ episode.number }} : {{ episode.title|capitalize }}</h3>
                <p>{{ episode.beginAt|format_datetime('full', 'short', locale='fr') | capitalize}}</p>
                <p>{{ episode.synopsis }}</p>

            <a href="{{ path('wild_programs') }}" class="btn btn-info">
                Retour à l'accueil
            </a>
        </div>
    </div>
{% endblock %} 