{% extends 'base.html.twig' %}

{% block title %}
    {{ episode.title }}
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-6">
            <img class="img-fluid" src="{{ program.poster }}" alt="{{ program.title }} poster">
                <a href="{{ path('wild_programs') }}" class="btn btn-info">
                    Retour à l'accueil
                </a>
            </div>
            <div class="col-6">
                <a href="{{ path('wild_show', {'slug': program.slug }) }}">
                    <h1 class="mt-0">{{ program.title|capitalize }}</h1>
                </a>

                <span class="c-badge" style="background: {{ program.category.color }}">
                    {{ program.category.name }}</span>

                <a href="{{ path('wild_season', {'id': season.id}) }}">
                    <h2>Saison
                        {{ season.number }}</h2>
                </a>
                <h3>Episode
                    {{ episode.number }}
                    :
                    {{ episode.title|capitalize }}</h3>
                <p>{{ episode.beginAt|format_datetime('full', 'short', locale='fr')|format_datetime('full', 'short', locale='fr') | capitalize }}</p>
                <p>{{ episode.synopsis }}</p>

            </div>
        </div>
    {% endblock %}
