{% extends "base.html.twig" %}

{% block title %}Séries
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12 col-lg-6 label-form">
        <h1>Toutes les séries :</h1>
            {{ form_start(form) }}
            {{ form_row(form.name) }}
            <button type="submit" class="btn btn-primary">Rechercher</button>
            <a href="{{ path('wild_programs') }}" class="btn btn-primary">Toutes les séries</a>
            <a href="{{ path('app_index') }}" class="btn btn-info">Retour à l'accueil</a>
            {{ form_end(form) }}
        </div>
    </div>
    <div class="row mt-4">
        <h3 class="col-12">Résultat: {{ programs|length }} séries</h3>
    </div>
    <div class="row">
    <div class="col-12 mt-2">
        {% for program in programs %}
            <div>
                <a href="{{ path('wild_show', { 'slug': program.slug}) }}">
                    <h2>{{ loop.index }}/
                        {{ program.name|title }}
                        - Catégorie :
                        {{ program.category.name }}</h2>
                </a>
            </div>
        {% else %}
            <div>
                <h2>Aucune série trouvée.</h2>
            </div>
        {% endfor %}
    </div>
    </div>
{% endblock %}
