{% extends "base.html.twig" %}

{% block title %}All programs
{% endblock %}

{% block body %}
    <div class="row">

        <h1>Toutes les séries de la table program :</h1>
        <div class="col-sm-4 label-form">
            {{ form_start(form) }}
            {{ form_row(form.title) }}
            <button type="submit" class="btn btn-primary">Rechercher</button>
            <a href="{{ path('wild_programs') }}" class="btn btn-primary">Reset</a>
            {{ form_end(form) }}
        </div>
    </div>
    <div class="col-12 mt-5">
        {% for program in programs %}
            <div>
                <a href="{{ path('wild_show', { 'slug': program.title|replace({' ':'-'})|lower }) }}">
                    <h2>{{ loop.index }}/
                        {{ program.title }}
                        - Catégorie :
                        {{ program.category.name }}</h2>
                </a>
            </div>
        {% else %}
            <div>
                <h2>Aucune série trouvée.</h2>
            </div>
        {% endfor %}

        <a href="{{ path('app_index') }}" class="btn btn-info">
            Retour à l'accueil
        </a>
    </div>
{% endblock %}
