{% extends 'base.html.twig' %}

{% block title %}
    {{ program.slug }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-6">
                <img class="img-fluid" src="{{ program.poster }}" alt="{{ program.title }} poster">
                <a href="{{ path('wild_programs') }}" class="btn btn-info mt-4">
                    Retour à l'accueil
                </a>
        </div>
    
            <div class="col-6">
                <h1 class="mt-0">{{ program.title|capitalize }}</h1>
                <p>{{ program.summary }}</p>
                    <span class="c-badge" style="background: {{ program.category.color }}">
                        {{ program.category.name }}</span>
                
                <div class="row mt-4">
                    <div class="col-6">
                        <h4>{{ seasons | length }} Saisons </h4>
                        {% if seasons is empty %}
                            <h3>Pas de saisons disponibles</h3>
                        {% endif %}
                        {% for season in seasons %}
                            <div>
                                <a href="{{ path('wild_season', { 'id': season.id }) }}">Saison
                                    {{ season.number }}</a>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="col-6">
                        <h4>Acteurs</h4>
                        {% for actor in program.actors %}
                            <div>
                                <a href="{{ path('wild_show_actor', { 'slug': actor.slug }) }}">{{ actor.name }}
                                </a>
                            </div>
                        {% else %}
                            <div>Aucun acteur pour cette série</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
    </div>
{% endblock %}