{% extends 'base.html.twig' %}

{% block title %}{{ program.slug }}{% endblock %}

{% block body %}

<div class="media">
  <img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
  <div class="media-body">
    <h1 class="mt-0">{{ program.title|capitalize }}</h1>
    <p>{{ program.summary }}</p>
    <p>Catégorie : {{ program.category.name }}</p>
    {% if seasons is empty %}
                    <h3>Pas de saisons disponibles</h3>
                {% endif %}
    {% for season in seasons %}
        <div>
            <a href="{{ path('wild_season', { 'id': season.id }) }}">Saison {{ season.number }}</a>
        </div>
    {% endfor %}
    <strong>Acteurs :</strong>
            <ul>
                {% for actor in program.actors %}
                    <li> <a href="{{ path('wild_show_actor', { 'id': actor.id }) }}">{{ actor.name }} </a></li>
                {% else %}
                    <li>Aucun acteur pour cette série</li>
                {% endfor %}
            </ul>
    <a href="{{ path('wild_programs') }}" class="btn btn-info">
    Retour à l'accueil
    </a>
  </div>
</div>

{% endblock %}