{% extends 'base.html.twig' %}

{% block title %}
    {{ program.title }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-6">
            <img class="img-fluid" src="{{ program.poster }}" alt="{{ program.title }} poster">
                <a href="{{ path('wild_programs') }}" class="btn btn-info">Retour à l'accueil</a>
            </div>
            <div class="col-6">
                <a href="{{ path('wild_show', {'slug': program.slug}) }}">
                    <h1 class="mt-0">{{ program.title|capitalize }}</h1>
                </a>

                <span class="c-badge" style="background: {{ program.category.color }}">
                    {{ program.category.name }}</span>

                <h2>Saison
                    {{ season.number }}</h2>
                    <h3>{{ episodes|length }} épisodes</h3>
                {% for episode in episodes %}
                    <div>
                        <a href="{{ path('wild_episode', {'slug': episode.slug}) }}">
                            <h3>Episode
                                {{ episode.number }}
                                :
                                {{ episode.title|capitalize }}</h3>
                        </a>
                    </div>
                {% endfor %}
                {% if episodes is empty %}
                    <h3>Pas d'épisodes disponibles</h3>
                {% endif %}

            </div>
        </div>
    {% endblock %}
