{% extends 'base.html.twig' %}

{% block title %}
    {{ program.title }}
{% endblock %}

{% block body %}

    <div class="media">
        <img class="align-self-start mr-3" src="{{ program.poster }}" alt="{{ program.title }} poster">
            <div class="media-body">
                <a href="{{ path('wild_show', {'slug': program.slug}) }}">
                    <h1 class="mt-0">{{ program.title|capitalize }}</h1>
                </a>
                <p><strong>Catégorie</strong>
                    <span class="badge badge-secondary" style="background: {{ program.category.color }}">
                        {{ program.category.name }}</span>
                </p>
                <h2>Saison
                    {{ season.number }}</h2>
                {% for episode in episodes %}
                    <div>
                        <a href="{{ path('wild_episode', {'slug': episode.slug}) }}">
                            <h3>Episode
                                {{ episode.number }}
                                :
                                {{ episode.title|capitalize }}</h3>
                        </a>
                    </div>
                {% endfor %}
                {% if episodes is empty %}
                    <h3>Pas d'épisodes disponibles</h3>
                {% endif %}
                <a href="{{ path('wild_programs') }}" class="btn btn-info">
                    Retour à l'accueil
                </a>
            </div>
    </div>

{% endblock %}