{% extends 'base.html.twig' %}
{% set page = 'season_index' %}

{% block title %}Season index{% endblock %}

{% block body %}
    <h1>Season index</h1>
    <a href="{{ path('season_new') }}" class="btn btn-success mb-3">Ajouter une saison</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Saison</th>
                <th>Année</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for season in seasons %}
            <tr>
                <td>{{ season.id }}</td>
                <td>{{ season.number }}</td>
                <td>{{ season.year }}</td>
                <td>{{ season.description }}</td>
                <td>
                    <a href="{{ path('season_show', {'id': season.id}) }}">show</a>
                    <a href="{{ path('season_edit', {'id': season.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
