{% extends "base.html.twig" %}

{% block header %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ path('home') }}">Wild Séries</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {% if 'home' in app.request.attributes.get('_route') %}active{% endif %}">
                    <a class="nav-link" href="{{ path('home') }}">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item {% if 'program' in app.request.attributes.get('_route') %}active{% endif %}">
                    <a class="nav-link" href="{{ path('wild_programs') }}">Séries</a>
                </li>
                <li class="nav-item {% if 'category' in app.request.attributes.get('_route') %}active{% endif %}">
                    <a class="nav-link" href="{{ path('category_list') }}">Catégories</a>
                </li>
                <li class="nav-item {% if 'calendar' in app.request.attributes.get('_route') %}active{% endif %}">
                    <a class="nav-link" href="{{ path('wild_calendar') }}">Agenda des séries</a>
                </li>

                {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('program_index') }}">Program CRUD</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('season_index') }}">Season CRUD</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('episode_index') }}">Episode CRUD</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('actor_index') }}">Actor CRUD</a>
                </li>
                {% endif %}
                
            </ul>
            {% if app.user %}
                <span class="badge">{{ app.user.email }}</span>
                <a href="{{ path('app_logout') }}" class="btn btn-danger">
                    Se déconnecter</a>
            {% else %}
                <a href="{{ path('app_login') }}" class="btn btn-success">
                    Se connecter</a>
            {% endif %}
        </div>
    </nav>
{% endblock %}
